.scorigami-table-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  overflow-x: auto;
  white-space: nowrap;
  width: 80%;

}

.scorigami-table {
  max-width: 100%;
  white-space: nowrap;
  margin: auto;
  box-sizing: border-box;
  border-collapse: collapse;
  /* Collapses borders into a single line */
}

td {
  display: table-cell;
  vertical-align: inherit;
  font-size: 8px;
  width: 15px;
  height: 12px;
  padding: 0px;
  margin: 0px;
}

th {
  font-size: 11px;
  padding: 0px 1px;
}

td.axis-label {
  text-align: center;
  font-weight: bold;
  border: none;
  font-size: 13px;

}

.vertical-text {
  white-space: nowrap;
  writing-mode: tb-rl;
}

.hidden {
  display: none;
}

.score {
  width: 100%;
  height: 100%;
}
.count {
  width: 100%;
  height: 100%;
}

.impossible,
.losing {
  background-color: black;
  color: black;
  width: 100%;
  height: 100%;
}