.table-header {
  font-size: 18px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 5px;
  text-align: center;
}

.table-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  text-align: center;
  width: 80%;
  overflow-x: auto;
}

.scorigami-table {
	border-collapse: collapse;
  margin: auto;
}

.impossible-score,
.losing-score-hidden {
  background-color: black;
  
  color: white;
}

.has-happened {
	background-color: green;
}

.hidden {
	display: none;
}

.invisible {
	visibility: hidden;
}

th,
td {
	min-width: 15px;
	width: 15px;
	height: 12px;
	line-height: 12px;
	padding: 0px;
	margin: 0px;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

th {
	font-size: 11px;
}

td {
	font-size: 8px;
}