#infoBox {
	background-color: #cfcfcf;
	position: absolute;
	font-size: 10px;
	padding: 4px;
	border-radius: var(--border-radius);
    justify-content: left;
	border: 1px solid #888888;
	box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, .16);
}
.dark #infoBox {
    background-color: #222222;
}

#infoBoxScore {
	font-size: 12px;
	font-weight: bold;
}

#infoBoxClose {
	float: right;
	font-size: 9px;
	cursor: pointer;
}