.header-highlight {
	font-size: 13px;
	color: black;
	background-color: #cfcfcf;
	font-weight: bold;
}

.dark .header-highlight {
	color: white;
	background-color: #222222;
}

.score-cell.highlight {
	background-color: rgba(0, 0, 0, .5);
}
.score-cell.highlight-adj {
	background-color: rgba(0, 0, 0, .2);
}
.dark .score-cell.highlight {
	background-color: rgba(255, 255, 255, .5);
}
.dark .score-cell.highlight-adj {
	background-color: rgba(120, 120, 120, .2);
}

.score-cell.has-happened {
	background-color: rgba(0, 128, 0, 1);
}
.score-cell.has-happened.highlight {
	background-color: rgba(30, 200, 30, 1);
}
.score-cell.has-happened.highlight-adj {
	background-color: rgba(15, 150, 15, 1);
}
.losing-score-hidden.score-cell.highlight-adj {
	background-color: rgba(32, 32, 32, 1);
}